/* general */

* {
    box-sizing: border-box;
}


/* tags */

html {
    color: var(--clrPrimarybase);
    font-family: poppins;
    line-height: normal;
}

body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: var(--clrPrimarybase);
    font-size: 1rem;
    margin: 0;
}

img {
    width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    width: 5em;
    height: 1.7em;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 20px;
    background-color: var(--clrPrimary4);
    color: var(--clrSecondary2);
    font-family: poppins;
    font-size: 21px;
    cursor: pointer;
}