/* general */

* {
    box-sizing: border-box;
}


/* tags */

html {
    color: var(--clrPrimarybase);
    font-family: poppins;
    line-height: normal;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤚</text></svg>") 16 0,auto;
}

body {
    background-color: var(--clrPrimarybase);
    font-size: 1rem;
    margin: 0;
}

img {
    width: 100%;
}

/* a {
    text-decoration: none;
} */