@media (min-width: 768px) {
    
    .main-layout {
        grid-template-columns: 
            minmax(3px, 1fr) 
            minmax(auto, 98%)
            minmax(3px, 1fr);
    }

    .main-header .main-nav {
        margin-inline-start: 4rem;
        margin-inline-end: 4rem;
        gap: 30px;
    }

    .main-header .logo {
        margin-inline-start: 4rem;
    }

    .main-editor {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin-bottom: 50px;
    }

    .main-editor .editor-toolbar-container {
        margin-right: 6px;
    }

    .main-header-container {
        margin-bottom: 65px;
    }

    .canvas-container {
        width: 58vh;
        height: 58vh;
        margin: 0;
        padding: 0;
    }
}


@media (min-width: 1024px) {
    .main-layout {
        grid-template-columns: 
            minmax(10px, 1fr) 
            minmax(auto, 85%)
            minmax(10px, 1fr);
    }

    .main-header .main-nav {
        margin-inline-start: 4rem;
        gap: 30px;
    }

    .main-editor .editor-toolbar-container {
        padding: 20px;
    }

    .main-editor {
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }

    .canvas-container {
        width: 67vh;
        height: 67vh;
    }
}