.canvas-container {
  width: 85vw;
  height: 85vw;
  background-color: var(--clrPrimary1);
  outline: 8px solid var(--clrPrimary1);
  border-radius: 20px;
  margin: 0;
  padding: 0;
}

.fill-clr-picker {
    height: 2rem;
    width: 2rem;
}

.upload-img-btn {
    cursor: pointer;
}

canvas {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    cursor: grab;
}

canvas:active {
    cursor: grabbing;
}