.main-editor {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.main-editor .editor-toolbar-container {
    background-color: var(--clrPrimary1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.main-editor .editor-toolbar-container> * {
    border-radius: 10px;
}

.main-editor .editor-toolbar-container .editor-button {
    border-radius: 10px;
    width: 2.5em;
    height: 2.5em;
    color: var(--clrPrimarybase);
}


.main-editor .editor-toolbar-container .text-input {
    width: 90%;
    height: 2em;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 23px;
    background-color: var(--clrPrimary4);
    font-family: poppins;
    font-size: 21px;
    text-align: center;
    color: var(--clrPrimarybase);
}

.main-editor .editor-toolbar-container .text-nav-button {
    color: var(--clrPrimary4);
    background-color: var(--clrTextNavBtn);
}

.main-editor .editor-toolbar-container .add-line-button {
    color: var(--clrPrimary4);
    background-color: var(--clrAddBtn);
}

.main-editor .editor-toolbar-container .delete-line-button {
    color: var(--clrPrimary4);
    background-color: var(--clrDeleteBtn);
}

.upload-file-button {
    position: relative;
    background-color: var(--clrUploadBtn);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;    
}

.upload-file-button i {
    color: var(--clrPrimary4);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;
}

.main-editor .editor-toolbar-container .upload-file-input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;
}

.main-editor .editor-toolbar-container .save-meme-button {
    background-color: var(--clrSaveBtn);
    color: var(--clrPrimary4);
}

.main-editor .editor-toolbar-container .text-editor {
    margin-left: 28px;
    margin-right: 28px;
    background-color: var(--clrSecondary2);
    outline: 15px solid var(--clrSecondary2);
    border-radius: 10px;
}

.main-editor .editor-toolbar-container .font-selector {
    font-size: 1.53em;
    font-family: poppins;
    height: 2.165em;
    width: 7.65em;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 10px;
    padding: 0.1em;
    color: var(--clrPrimarybase);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;
}

.main-editor .editor-toolbar-container .color-picker-button {
    position: relative;
}

.main-editor .editor-toolbar-container .clr-picker {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;
}

.main-editor .editor-toolbar-container .download-button {
    position: relative;
    border-radius: 10px;
    width: 8em;
    color: var(--clrPrimary4);
    background-color: var(--clrDownloadBtn);
}

.main-editor .editor-toolbar-container .facebook-button {
    border-radius: 10px;
    width: 8em;
    color: var(--clrPrimary4);
    background-color: var(--clrFacebookBtn);
}